<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
<display-name>CRUD code</display-name>  

  <!-- 如果你的class implements com.jdon.container.pico.Startable; 希望关闭应用时做些保存数据库的事情 -->
   <listener>
      <listener-class>com.jdon.container.startup.ServletContainerListener</listener-class>
   </listener>
	
	<!-- 模板引擎配在这里，如果不配，就会使用jsp -->
	
	<!--  使用CT模板引擎
	<context-param>
		<param-name>com.jdon.mvc.template.factory</param-name>
		<param-value>com.jdon.mvc.template.ct.CommonTemplateFactory</param-value>
	</context-param>
    -->
	
	<!--  使用velocity模板引擎
	
	<context-param>
		<param-name>com.jdon.rest.template.factory</param-name>
		<param-value>com.jdon.rest.template.velocity.VelocityTemplateFactory</param-value>
	</context-param>
	-->
	
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>
			com.jdon.util.SetCharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter>
        <filter-name>RestFilter</filter-name>
        <filter-class>com.jdon.mvc.RestFilter</filter-class>
    </filter>
    
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <filter-mapping>
        <filter-name>RestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    

</web-app>
